@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Barlow', 'sans-serif';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
}

.logo {
  position: absolute;
  left: 20px;
}

.arrow-header {
  position: absolute;
  top: 38%;
  left: 50%;
  background-image: url('/images/icon-arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  transform: scale(60%) translateX(-100%);
}

.image-header {
  height: 300px;
  background-image: url('/images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 800px;
}

.container-1 {
  position: relative;
  top: 0;
  width: 100%;
  background-color: hsl(200, 100%, 62%);
  color: white;
}

.container-1 nav ul {
  margin: 0;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.container-1 nav ul li {
  margin: 10px 20px;
}

.container-1 h1 {
  font-family: 'Fraunces', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 0;
  margin-top: 50px;
  letter-spacing: 5px;
}

.container-1 nav ul li.active {
  background: white;
  color: hsl(212, 27%, 19%);
  font-size: 11px;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: 'Fraunces', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px;
}

.grid-container .container-2 {
  background-color: #fff;
}

.grid-container .container-3 {
  background-color: #fff;
}

.grid-container img {
  max-height: 100%;
}
